{% extends 'base.html.twig' %}

{% block title %}Edit MuscleGroup{% endblock %}

{% block body %}
<div id="arrow-left" class="arrow" href="">{{ include('svg/arrowleft.html.twig') }}</div>

<section class="bloc-full">
    <aside id="column-left" class="bloc-column-abs">
        <h1 class="bloc-title"></h1>
        <div class="bloc-link-column">
            <ul>
                <li>
                    <a href="{{ path('app_admin_muscle_group_index') }}">retour</a>
                </li>
                <li>
                    {{ include('admin/muscle_group/_delete_form.html.twig') }}
                </li>
            </ul>
        </div>
    </aside>
    <section class="bloc-large-abs">
        <h2 class="bloc-title">Modifier</h2>
        <div class="form-base1">
            {{ include('admin/muscle_group/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </section>
</section>
{% endblock %}
