<form method="post" action="{{ path('app_team_delete', {'id': team.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer le groupe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
    <button class="btdelete">Supprimer le groupe</button>
</form>
