{% extends 'base.html.twig' %}

{% block title %}Edit Team{% endblock %}

{% block body %}
<section class="bloc-full">
    <aside class="bloc-column-abs" id="column-left">
        <h1 class="bloc-title"></h1>
        <div class="bloc-link-column">
            <ul>
            </ul>
        </div>

    </aside>
    <section class="bloc-large-abs">
        <h2 class="bloc-title">Modifier les informations</h2>
            {{ include('team/_form.html.twig') }}
            {{ include('team/_delete_form.html.twig') }}
    </section>
</section>
{% endblock %}
