{% extends 'base.html.twig' %}

{% block title %}Liste des équipements{% endblock %}

{% block body %}
<section class="bloc-full">
    <aside id="column-left" class="bloc-column-abs">
        <h1 class="bloc-title"></h1>
        <div class="bloc-link-column">
            <ul>
                <li class="btvalid">
                    <a href="{{ path('app_admin_equipment_new') }}">Nouveau</a>
                </li>
            </ul>
        </div>
    </aside>
    <section class="bloc-large-abs">
        <h2 class="bloc-title">liste des équipements</h2>
        <div class="gallery">
            {% for equipment in equipment %}
            <div class="card">
                <h3>
                    {{ equipment.name }}
                </h3>
                <div class="card-img">
                    {% if equipment.imageSystem is empty %}
                    <p>Pas d'image enregistré</p>
                    {% else %}
                    <img src="{{ asset('accessory/' ~ equipment.imageSystem.name)}}" width="400px" alt="">
                    {% endif %}
                </div>
                <div class="card-a">
                    <a href="{{ path('app_admin_equipment_edit', {'id': equipment.id}) }}">Modifier</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</section>
{% endblock %}
