{% extends 'base.html.twig' %}

{% block title %}New Equipment{% endblock %}

{% block body %}
<div id="arrow-left" class="arrow" href="">{{ include('svg/arrowleft.html.twig') }}</div>

<section class="bloc-full">
    <aside id="column-left" class="bloc-column-abs">
        <h1 class="bloc-title"></h1>
        <div class="bloc-link-column">
            <ul>
                <li class="btmain">
                    <a href="{{ path('app_admin_equipment_index') }}">retour</a>
                </li>
            </ul>
        </div>
    </aside>
    <section class="bloc-large-abs">
        <h2 class="bloc-title">Nouvelle équipement</h2>
        <div class="form-base1">
            {{ include('admin/equipment/_form.html.twig') }}
        </div>
    </section>
</section>


{% endblock %}
