{% extends 'base.html.twig' %}

{% block title %}Edit ExercicePerso{% endblock %}

{% block body %}
    <h1>Edit ExercicePerso</h1>

    {{ include('exercice_perso/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_exercice_perso_index') }}">back to list</a>

    {{ include('exercice_perso/_delete_form.html.twig') }}
{% endblock %}
