<form method="post" action="{{ path('app_user_post_delete', {'id': post.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer votre poste ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btmain">Supprimer</button>
</form>
