
###> symfony/framework-bundle ###
/.env.local
/.env
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/bundles/accessory
/public/bundles/adminuploads
/public/bundles/exercice
/public/bundles/images
/public/bundles/post
/public/bundles/profil
/public/bundles/sport
/public/bundles/uploads
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
