<h1>Bienvenue sur The Daily Workout !</h1>

<p>
    Confirmes nous ton inscription à The Daily Workout. Si tu n'es pas à l'origine de cette inscription tu peux ignorer ce message.<br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse mail</a>.
    Ce lien expire dans : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A tout de suite !
</p>
