{% extends 'base.html.twig' %}

{% block title %}Vérifier votre email{% endblock %}

{% block body %}
    <section class="body-log">
            <p class="message-middle">
                Veuillez confirmer votre email en validant l'email qui vient de vous être envoyé. <br>
                Si vous ne le trouvez pas pensez à vérifier vos courriers indésirable.
            </p>
    </section>
{% endblock %}