{% extends 'base.html.twig' %}

{% block title %}Envoie du mail{% endblock %}

{% block body %}
<div class="boddy-log">
    <div class="form-middle">
        <div class="loggin">
            <p>
                Si un compte est associé à votre adresse email que vous venez de rentrer, un mail avec un lien va vous être envoyé pour réinitialiser votre mot de passe.
                Ce lien expire dans : {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>Si vous ne recevez pas l'email vérifié vos spam. <a class="btmain" href="{{ path('app_forgot_password_request') }}">Envoyer à nouveau</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
