{% extends 'base.html.twig' %}

{% block title %}New Reward{% endblock %}

{% block body %}
<section class="bloc-full">
    <aside id="column-left" class="bloc-column-abs">
        <h1 class="bloc-title"></h1>
        <div class="bloc-link-column">
            <ul>
                <li class="btmain">
                    <a href="{{ path('app_admin_reward_index') }}">retour</a>
                </li>
            </ul>
        </div>
    </aside>
    <section class="bloc-large-abs">
        <h2 class="bloc-title">Créer nouvelle récompense</h2>
        <div class="form-base1">
            {{ include('admin/reward/_form.html.twig') }}
        </div>
    </section>
</section>


{% endblock %}
