{% extends 'base.html.twig' %}

{% block title %}Nouveau Workout{% endblock %}

{% block body %}
<div class="bloc-middle">
    <div class="form-base1">
    <div class="bloc-title">
        <h1>Créer un nouveau Workout</h1>
    </div>
    <p class="text-middle">Pour commencer remplis les informations suivantes.</p>
        {{ include('user/workout/_formNew.html.twig') }}
    </div>
</div>

{% endblock %}
