<p>{{ emailcontent.name }} vous à invité à faire partie de {{ emailcontent.teamName }}.<br>
    Allez vous accepter <a href="https://the-daily-workout.com/team/{{emailcontent.teamId}}">Voir la team</a></p>