<ul>
    {% for goal in goals %}
        <li>
            <div class="btmain">
                <a data-id="{{ goal.id }}" class="js-goal-user" href="">{{ goal.name }}</a>
            </div>
        </li>
    {% endfor %}
</ul>