<form method="post" action="{{ path('app_challenge_delete', {'id': challenge.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce challenge ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ challenge.id) }}">
    <button class="btdelete">Supprimer le challenge</button>
</form>
