{% extends 'base.html.twig' %}

{% block title %}Nouveau challenge{% endblock %}

{% block body %}
<div class="body-log">
            <div class="form-middle">
                <div class="loggin">
                    {{ include('challenge/_form.html.twig') }}
                </div>
            </div>
</div>


{% endblock %}
