{% extends 'base.html.twig' %}

{% block title %}Choisir mes préférence{% endblock %}

{% block body %}
    <h1 class="bloc-title">Choisir mes préférences de suivie</h1>

    {{ include('user_preference/_form.html.twig') }}

{% endblock %}
