.bar-notif {
    @extend %flex-row;
    background-color: $maintrans;
    width: 100%;
    margin-bottom: $mp1;
    border-bottom: 1px solid $red;
    color: white;
}

.bar-notif img {
    margin: 0 $mp1;
}