.bloc-user-link {
    @extend %flex-row;
    @extend %shadow;
    @extend %border;
    position: relative;
    background-color: $maintrans;
    width: 100%;
    border: 1px solid $grey2;
    margin: $mp1 auto;
    height: 46px;
    overflow: hidden;
    color: white;
}

.bloc-user-link img {
    margin: 0 $mp2;
}

.bloc-user-link p {
    color: white;
    margin-left: 12px;
}

.bloc-user-link:hover {
    background-color: $mainlg;
}

.bloc-user-link-group {
    @extend %row;
    display: flex;
    justify-content: space-between;
}

.bloc-user-link-group .btvalid {
    margin: auto 0;
}

.bloc-user-link-group .bloc-user-link {
    width: 80%;
    margin: $mp1;
}