.card {
    position: relative;
    @extend %shadow;
    @extend %border;
    width: 200px;
    height: 250px;
    margin: $mp1;
    overflow: hidden;
    text-align: center;
}

.card h3 {
    @extend %gradient;
    width: 100%;
    color: white;
    font-size: 12px;
}

.card-a a {
    color: white;
}

.card-a a:visited {
    color: white;
}

.card:hover a {
    color: $red;
}

.card-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-img img {
    width: 100%;
}

.card-challenge {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-challenge img {
    max-width: 100%;
    height: 80%;
}

.card-a {
    text-align: center;
    position: absolute;
    @extend %gradientReverse;
    width: 100%;
    bottom: 0px;
}

.card-a form {
    margin: 0 auto;
    padding: 0;
}

.card-a form .btdelete {
    width: 80%;
}

.card-container {
    position: relative;
    width: 100%;
    margin: 0 0 $mp1 0;
}

.card-container .bloc-user-link {
    width: 100%;
    font-size: 12px;
}

.card-sport {
    position: relative;
    @extend %shadow;
    @extend %border;
    width: 200px;
    height: 250px;
    margin: $mp1;
    overflow: hidden;
    text-align: center;
}

.card-sport h3 {
    @extend %gradient;
    width: 100%;
    color: white;
    font-size: 12px;
}

.card-sport .card-img {
    object-fit: cover;
}

.card-sport .card-img img {
    width: auto;
}

@media (max-width: 860px) {
    .card {
        width: 30%;
        height: 200px;
    }
}