svg {
    fill: $red;
    height: 36px;
    width: 36px;
    cursor: pointer;
    z-index: 0;
}

svg:visited {
    fill: $red;
}

svg:hover {
    fill: white;
}

.svg-workout svg {
    height: 36px;
    width: 36px;
    fill: $red;
}

.svg-workout:hover svg {
    fill: white;
}

.svg-star svg {
    height: 36px;
    width: 36px;
    fill: rgb(210, 210, 3);
}

.svg-empty svg {
    height: 36px;
    width: 36px;
    fill: rgb(65, 65, 57);
}

.post-view svg {
    fill: $main;
}

.post-view svg:hover {
    fill: $red;
}

.arrow {
    display: none;
    z-index: 50;
    fill: $red;
}

.arrow-right {
    display: none;
    z-index: 50;
    fill: $red;

}

.open svg {
    fill: $red;
}

.svg-bronze svg path {
    fill: #614e1a;
    stroke: #614e1a;
    z-index: 500;
}

.svg-silver svg path {
    fill: silver;
    stroke: silver;
    z-index: 500;
}

.svg-gold svg path {
    fill: gold;
    stroke: gold;
    z-index: 500;
}

@media (max-width: 860px) {
    svg {
        height: 24px;
        width: 24px;
    }

    .arrow svg {
        height: 36px;
        width: 36px;
        fill: $red;
    }

    .arrow-right svg {
        height: 36px;
        width: 36px;
        fill: $red;
    }

    .arrow {
        display: initial;
        position: fixed;
        transition: 0.4s;
        top: 60px;
        fill: $red;
        left: 5px;
        border-radius: 50%;
    }

    .arrow-right {
        display: initial;
        position: fixed;
        transition: 0.4s;
        top: 60px;
        right: 5px;
        fill: $red;
        border-radius: 50%;
    }

    .arrow.open {
        left: calc(70vw + 5px);
        transition: left 1.0s;
    }

    .arrow-right.open {
        right: calc(80vw);
        transition: right 1.0s;
    }
}