.user-main {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 8px;
}

.user-section {
    width: 40%;
    @extend %flex-column;
    position: relative;
    justify-content: space-around;
}


.user-pic {
    @extend %flex-center;
    width: 200px;
    min-height: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto $mp2;
    overflow: hidden
}

.user-pic img {
    width: 100%;
    height: 100%
}

.user-social {
    @extend %flex-row;
}

.user-social img {
    margin: 10px;
}

.user-link {
    @extend %row;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid $grey2;
    font-size: 12px;
}

.user-link .main-link {
    color: $main;
}

.user-link img {
    margin-right: $mp2;
}

.user-post-view {
    @extend %column;
    @extend %shadow;
    @extend %border;
    text-align: left;
    background: white;
    width: 100%;
    max-width: 600px;
    height: fit-content;
    margin: $mp3 auto;
    padding: $mp1;
    overflow: hidden;
}

.user-post-view img {
    width: 100%;
    height: auto;
    margin: auto;
}

.user-post-view p {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.row .content {
    width: 100%;
}

.content {
    width: 100%;
    height: fit-content;
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: none;
}

// list-sport
.list-sport {
    @extend %row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    padding: $mp1;
}

.list-sport a {
    width: 100%;
}


.card-tiny {
    @extend %border;
    text-align: center;
    margin: $mp1;
    position: relative;
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.card-tiny p {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 12px;
    background-color: $red2;
    color: white;
}

.card-tiny img {
    height: 100px;
    width: auto;
}

// list-sport


@media (max-width: 860px) {

    .user-post-view {
        text-align: left;
        width: 100%;
        border-radius: 0;
        height: fit-content;
        margin: $mp3 auto;
        overflow: hidden;
    }

    .user-post-view img {
        max-height: 250px;
    }

    .card-tiny {
        width: 40%;
    }

}