// couleurs

$grey: #adadad;
$grey2: #cbe0ca;
$grey3: #e0ece3;
$greytrans: #cbd6dbca;

$red: #ce210e;
$red2: #a71100;
$red2trans: #e7382590;
// $red: #ce210e;
// $red2: #a71100;
// $red2trans: #e7382590;

$main: #010000;
$maintrans: #292929;
$mainlg: #555555;
$mainhover: #393939;
$shadow: #5c4444;

$blue1: #B04200;
$blue2: #793100;
// $blue1: #DB5904;
// $blue2: #702d00;

$green1: #30bd70;
$green2: #0b7000;

$blue3: #569C91;
$blue4: #364557;

// couleurs

// margin padding

$mp1: 0.5rem;
$mp2: 1rem;
$mp3: 1.5rem;

// margin padding