.bloc-link-column .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    font-size: 14px;
}

a .js-notation {
    font-size: 16px;
    color: gold;
}